<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppRootBundle</key>
	<string>com.kr.magic</string>
	<key>AppRootUUID</key>
	<string>59287382-e52d-4090-a829-864b5b578bc1</string>
	<key>AppRootURL</key>
	<string>https://agareegames.fly.dev</string>
</dict>
</plist>
